.task-detail {
    margin-bottom: 5rem;
    width: 100%;
    max-width: 100%;

    .card {
        width: 100%;
        max-width: 500px;
        padding: 1rem;
        background-color: #000;
        font-size: larger;
    }

    .detail {
        &>* {
            margin-bottom: 2.5rem;
            font-size: larger;
        }

        .badge {
            background-color: var(--color-success);
            color: #fff;
            padding-left: 2px;
            padding-right: 2px;
            border-radius: 3px;
        }

        p b {
            color: var(--color-success);
        }
    }
}

.group {
    border: 1px solid var(--dark-blue);
    padding: 5px;

}